body {
      background-color: #000000;
      color: #ffffff;
      font-family: arial;
      font-size: 16px;
      text-align: center;
    }
    .txt {
      font-size: 22px;
    }
    img {
      border-radius: 8px;
      height: 250px;
    }
    img:hover {
      box-shadow: 0 0 10px 6px rgba(0, 127, 255, 0.5);
    }
